*{
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
.main_container_body{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}
.main_container_body.hidden{
    height: 100vh;
}
.main_container_body_alignment_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    transform: translateX(5%);
}
.main_container_header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_container_header_left_part .logo_icon{
    font-size: 1.75em;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    /* color: #0092cc; */
}
.main_container_header_right_part{
    display: none;
}
.main_container_header_right_part_lap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_container_header_right_part a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 1em 1em;
}
.main_container_header_right_part_lap a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 1em 1em;
}
.main_container_header_right_part a:hover{
    background-color: white;
    color: black;
}
.main_container_header_right_part_lap a:hover{
    background-color: white;
    color: black;
}
.main_container_header_right_part.show{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu_button{
    display: none;
    font-size: 1.5em;
    border: 2px solid white;
    border-radius: 3px;
    padding: 0.2em 0.5em;
    color: white;
    background-color: black;
}
.main_container_home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}
.main_container_home.hidden{
    visibility: hidden;
}
.main_container_home_dp_container{
    height: 25vh;
    background-color: white;
    background: url('Images/profile_picture.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1em 0;
}
.main_container_home_content_container{
    padding: 1em 0;
}
.main_container_home_content_container h2,.main_container_home_content_container h3,.main_container_home_content_container h4{
    padding: 4px 0;
}
.main_container_home_content_container h2,h3{
    text-align: center;
}
.main_container_home_content_container h2 span{
    color: #ff3333;
}
.join_2_containers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container_home_animation_scroller_effect_container{
    position: absolute;
    bottom: 1em;
    left: 50%;
    height: 45px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 15px;
}
.top_arrow,.middle_arrow,.bottom_arrow{
    width: 15px;
}
.top_arrow{
    position: absolute;
    top: 0;
    animation: top_arrow_animation 2s infinite;
}
.middle_arrow{
    position: absolute;
    top: 15px;
    animation: middle_arrow_animation 2s infinite;
}
.bottom_arrow{
    position: absolute;
    top: 30px;
    animation: bottom_arrow_animation 2s infinite;
}

@keyframes top_arrow_animation {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes middle_arrow_animation {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes bottom_arrow_animation {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.left_arrow_line{
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
    left: -32.5%;
}
.right_arrow_line{
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: white;
    transform: rotate(135deg);
    left: 32.5%;
}
.skill_header_container{
    width: 100%;
}
.skill_header_container h1{
    text-align: center;
    width: 100%;
}
.main_container_skills_skill_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    margin: 1em 0;
}
.skill_name_container{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #c3015c;
    color: black;
    border-right: 2px solid gray;
}
.skill_mastered_features{
    color: white;
    height: 100%;
    padding: 1em 1.5em;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.skill_name_container h2{
    height: 100%;
    white-space: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1em;
}
.main_container_journey_each_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flow_line{
    position: relative;
    width: 20%;
}
.journey_content_container{
    position: relative;
    width: 80%;
    padding: 1em 0;
}
.full_line{
    height: 100%;
    width: 3px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
}
.center_circle{
    height: 8px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.bottom_line{
    height: 50%;
    width: 3px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.top_line{
    height: 50%;
    width: 3px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.main_container_journey{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_container_journey_main_container{
    width: 60%;
}



.main_container_contact{
    background-color: white;
    color: black;
}
.contact_container{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
@media screen and (max-width:500px){
    .menu_button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_container_header_right_part,.main_container_header_right_part_lap{
        display: none;
    }
    .main_container_header{
        padding: 0.5em 0;
    }
    .main_container_header_right_part a{
        width: 100%;
        text-align: center;
    }
    .skill_name_container h2{
        font-size: 1em;
    }
    .main_container_journey_main_container{
        width: 100%;
    }
    .contact_container{
        flex-direction: column;
    }
}